html {
    scroll-behavior: smooth;
  }
  
body{
    color: white;
    background-color: black;
    background-image:
        url('/images/black-center-gradient.png'), 
        url('/images/fibonacci-spiral-bar-vertical.png'), 
        url('/images/spiral-tree-top-right.png'), 
        url('/images/spiral-tree-bottom-right.png'), 
        url('/images/background-text-L-and-R.png');
    background-repeat: 
        repeat-y, 
        repeat-y, 
        no-repeat, 
        no-repeat, 
        repeat-y;
    background-position: 
        center, 
        left top, 
        right top, 
        bottom right, 
        center;
    background-attachment: fixed;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
pre{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header h1{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: white;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 0 5px white, 0 0 75px white, 0 0 50px white, 0 0 100px white;
}

.header__navBox{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header__navBox a{
    color: white;
    font-size: 18px;
    font-weight:bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: .05s;
    letter-spacing: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
}
.header__navBox a:hover{
    border-radius: 5px;
    background-color: white;
    color: #333;
    box-shadow: 0 0 5px white, 0 0 75px white, 0 0 50px white, 0 0 100px white;
}

.sticky-menu {
    background-color: black;
    text-decoration: underline;
    box-shadow: 0 0 50px black, 0 0 25px black, 0 0 25px black, 0 0 50px black, 0 0 65px black;
  }


.graphic-me{
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 20px white, 0 0 37px white, 0 0 50px white, 0 0 50px white;
}

#my-skills-container{
    color: white;
    font-size: 18px;
    font-weight:bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#my-skills-container img{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px white;
}

.section_subheading{
    background-color: rgba(255, 255, 255, .1);
}

.main__contact a{
    color: white;
    font-size: 18px;
    font-weight:bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
}
.main__contact a:hover{
    background-color: white;
    color: #333;
    box-shadow: 0 0 5px white, 0 0 75px white, 0 0 50px white, 0 0 100px white;
}

.project-wrapper{
    border: 1px solid rgba(255, 255, 255, 1);   
    border-radius: 5px;
    background-color: white;
    color: #333;
    box-shadow: 0 0 5px white, 0 0 75px white, 0 0 50px white, 0 0 100px white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}